################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelloWorldApp/appsettings.json
/HelloWorldApp/appsettings.Development.json
.vs/HelloWorldApp/FileContentIndex/84c7a511-41d9-4749-a400-8e4f87ae421c.vsidx
.vs/HelloWorldApp
.vs/
